<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Management System</title>
    <link rel="stylesheet" type="text/css" href="/event.css " />
  </head>
  <body>
    <div class="container">
      <h2>All Events</h2>

      <div th:each="event : ${events}">
        <div class="card">
          <div class="card-header" th:text="${event.title}"></div>
          <div class="card-body">
            <p class="card-text" th:text="${event.description}"></p>
            <p class="card-text">
              <strong>Date:</strong> <span th:text="${event.date}"></span>
            </p>
            <p class="card-text">
              <strong>Time:</strong> <span th:text="${event.time}"></span>
            </p>
            <p class="card-text">
              <strong>Location:</strong>
              <span th:text="${event.location}"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
