<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Event Management</title>
    <link rel="stylesheet" type="text/css" href="/style.css " />
    <style>
      th,
      td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: left;
      }

      th {
        background-color: #f2f2f2;
      }

      tr:nth-child(even) {
        background-color: #f9f9f9;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2 class="eventListHeading">List of events</h2>
      <button class="addEvent">Create an Event</button>

      <table class="eventTable">
        <tr class="heading">
          <th>ID</th>
          <th>Title</th>
          <th>Date</th>
          <th>Time</th>
          <th>Location</th>
          <th>Description</th>
        </tr>
        <tr th:each="event : ${events}">
          <td th:text="${event.id}"></td>
          <td th:text="${event.title}"></td>
          <td th:text="${event.date}"></td>
          <td th:text="${event.time}"></td>
          <td th:text="${event.location}"></td>
          <td th:text="${event.description}"></td>
        </tr>
      </table>
    </div>
  </body>
</html>
